.footer {
  margin-top: 5px;
    min-height: 75px;
    background: rgb(74, 168, 168);
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: teal;
  }